<div class="repo-card">
    <img [src]="repo.avatarUrl" alt="Owner Avatar" class="avatar" />
  
    <div class="content">
      <h3 class="repo-name">{{ repo.name }}</h3>
      <p class="description">{{ repo.description || 'No description provided.' }}</p>
  
      <div class="meta">
        <span class="repo-stars">Stars: {{ repo.stars }}</span>
        <span class="repo-issues">{{ repo.issues > 0 ? 'Issues:' + repo.issues : 'No issues' }}</span>
      </div>
  
      <p class="footer">
        Submitted <span class="repo-pushed">{{ repo.pushedAt | DaysAgo }}</span> by <strong class="repo-owner">{{ repo.ownerLogin }}</strong>
      </p>
    </div>
</div>