/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Inter', sans-serif;
  background-color: #f9fafb;
  color: #1a202c;
  margin: 0;
}
.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 1rem;

  @media (min-width: 1200px) {
    max-width: 1140px;
  }

  @media (min-width: 1440px) {
    max-width: 1280px;
  }
}
  
